.fixedHeight {
    color: red;
    font-size: 10px;
    max-height: 150px;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto
}

.Header {
    background-color: white;
    width: 100%;
    padding-right: 50px;
    margin-top: 10px
}

.navbar-inverse {
    border-radius: 0px !important
}

.nav li {
    margin-left: 2px
}

    .nav li a {
        padding: 35px 20px !important;
        font-weight: 700;
        color: black;
        border-top: 5px solid white
    }

        .nav li a i {
            padding-right: 5px
        }

        .nav li a:hover {
            background-color: rgba(0,0,0,.05);
            border-top: 5px solid #4791d5
        }

.icon-bar {
    border: 1px solid white !important
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #287490;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.blurclass {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px)
}

div#loading {
    width: 250px;
    height: 50px;
    z-index: 9999;
    background: url(../Images/238.gif) no-repeat
}

.navbar-toggle {
    background-color: rgb(0,0,0) !important
}

.active {
    background-color: rgba(0,0,0,.05) !important;
    border-top: 5px solid #4791d5 !important
}

.Background-fight {
    background: url(../Images/plane.jpg) repeat;
    width: 100%;
    background-position: center;
    height: 600px;
    background-size: cover;
    padding-top: 20px
}

.Background-car {
    background: url(../Images/bgcar.jpg) repeat;
    width: 100%;
    background-position: center;
    height: 500px;
    background-size: cover;
    padding-top: 20px
}

.Background-Hotel {
    background: url(../Images/hotel.jpg) repeat;
    width: 100%;
    background-position: center;
    height: 500px;
    background-size: cover;
    padding-top: 20px
}

@media only screen and (max-width:500px) {
    .Background-fight {
        background: none !important
    }

    .Background-car {
        background: none !important
    }

    .Background-Hotel {
        background: none !important
    }

    .callcenter {
        background: none !important
    }
}

@media only screen and (max-width:600px) {
    .Background-fight {
        height: auto !important
    }

    .Background-car {
        height: auto !important
    }

    .Background-Hotel {
        height: auto !important
    }

    .SubDivs {
        margin-bottom: 20px;
        text-align: center !important
    }
}

.subheading {
    font-size: 16px;
    font-weight: 700;
    color: white
}

.SearchDiv {
    color: white;
    background-color: rgba(26, 93, 120, 0);
    padding: 20px;
    box-shadow: 0 1px 8px 3px #19637e;
}

    .SearchDiv > p {
        color: #1f4d65;
        font-weight: 700;
        font-size: 20px
    }

    .SearchDiv > hr {
        margin-top: 0px !important;
        border-top: 3px solid #185873;
    }

form > .col-md-6 {
    margin-bottom: 10px
}

.btnTheam {
    color: #fffefe;
    font-weight: 700;
    background-color: #287490;
    border-color: #287490
}

    .btnTheam:hover {
        color: #fff;
        background-color: #1c5063;
        border-color: #166fc1
    }

.SubDivs {
    margin-bottom: 20px;
    text-align: left
}

.SubDivs4 img {
    width: 60px
}

.callcenter {
    background: url(../Images/callcenter.jpg) no-repeat center bottom;
    background-size: contain;
    height: 300px
}

.text-blue-light {
    color: #22a9bf
}

.big {
    font-size: 20px;
    line-height: 28px
}

.DefColor {
    color: #4891d6 !important
}

.containerRad {
    display: block;
    position: relative;
    float: left;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .containerRad input {
        position: absolute;
        opacity: 0
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%
}

.containerRad:hover input ~ .checkmark {
    background-color: #1a546f;
}

.containerRad input:checked ~ .checkmark {
    background-color: #1a546f
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.containerRad input:checked ~ .checkmark:after {
    display: block
}

.containerRad .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white
}

.font-marketing-xxl {
    color: #474747;
    font-weight: 300;
    margin-bottom: 0.5em !important;
    padding: 0
}

.font-marketing-xl {
    font-size: 33px;
    line-height: 37px
}

.NormalText {
    color: #464646;
    line-height: 1.428571429;
    font-weight: 700;
    font-size: 12px
}

.NormalTextHeading {
    color: #464646;
    font-weight: 700;
    font-size: 14px
}

.flight_bg {
    padding: 10px
}

.flight_sbg {
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
    padding: 10px
}

    .flight_sbg:hover {
        box-shadow: 0 1px 12px 0 gray
    }

.left {
    margin-left: 3px
}

.flight_icon {
    text-align: center;
    max-height: 30
}

.flight_centre {
    text-align: center
}

.flight_left {
    text-align: left
}

.flight_right {
    text-align: right
}

.flight_one {
    margin-top: 10px;
    padding: 10px;
    padding-top: 20px
}

    .flight_one strong {
        padding: 2px 5px 2px 5px
    }

    .flight_one p {
        padding: 2px 5px 2px 5px !important
    }

.flight_two {
    padding: 10px
}

.line {
    height: 2px;
    margin: 10px 0;
    background-color: #3e3f40;
    position: relative;
    width: 100%
}

    .line::after {
        position: absolute;
        right: -2px;
        content: '';
        top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4.4px 8px;
        border-color: transparent transparent transparent #3e3f40
    }

.amount {
    display: block;
    font-weight: 700;
    margin-top: 1px;
    color: #3e3f40;
    font-size: 20px;
    margin: 5px auto;
    width: 80%
}

.btnx {
    margin: 5px auto;
    width: 80%;
    text-decoration: none
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding-right: 15px;
    text-align: center
}

.flight_stop {
    color: gray;
    font-weight: 500;
    padding: 10px !important;
    margin-bottom: 0px !important;
    font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif
}

.airlinename2 {
    padding: 5px !important;
    color: gray;
    font-weight: 700
}

@media only screen and (min-width:300px) and (max-width:770px) {
    .bottom-right {
        position: relative !important
    }
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .container2 input {
        position: absolute;
        visibility: hidden;
        cursor: pointer
    }

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee
}

.container2:hover input ~ .checkmark2 {
    background-color: #ccc
}

.container2 input:checked ~ .checkmark2 {
    background-color: #287490
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none
}

.container2 input:checked ~ .checkmark2:after {
    display: block
}

.container2 .checkmark2:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border-radius: 0px !important;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.btnviewflightdetails {
    font-size: 14px;
    color: #666;
    background-color: #e2dede;
    font-weight: 700;
    padding: 12px 15px
}

    .btnviewflightdetails:hover {
        color: #ffffff !important;
        cursor: pointer;
        background-color: #165369 !important;
    }

.font-marketing-xl {
    font-size: 33px;
    line-height: 37px;
    color: #474747;
    font-weight: 300;
    margin-bottom: 0.5em !important;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.span12 {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 20px
}

    .span12 p {
        margin: 0 0 21px;
        text-align: justify;
        color: #3c3c3c;
        -webkit-font-smoothing: antialiased;
        font-size: 12px
    }

.iconimage {
    display: none;
    position: absolute;
    z-index: 100;
    left: -128%;
    width: 500px;
    height: 200px
}

.icon {
    font-size: 12px;
    padding: 10px;
    cursor: pointer
}

    .icon:hover + .iconimage {
        display: block !important
    }

.toright {
    text-align: right
}

@media screen and (max-width:800px) {
    .righttocenter {
        text-align: center !important
    }

    .calluspadding {
        padding-top: 0px !important
    }
}

.calluspadding {
    padding-top: 70px
}

.ui-autocomplete, .easy-autocomplete-container {
    max-height: 250px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important
}

.ui-autocomplete, .easy-autocomplete-container {
    position: absolute;
    cursor: default;
    z-index: 30 !important
}

.active {
    border: 0px !important;
    background-color: #1e4669 !important
}

.easy-autocomplete.eac-plate-dark {
    width: 100% !important
}


.dialogue-box {
    background: rgba(40, 116, 144, 0.8);
    border: 1px solid #287490;
    padding: 20px;
    height: 104px;
    color: white;
    z-index: 100;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.25);
}

.overlay2 {
    height: 0px;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.5s;
}

.searchtxt {
    text-transform: uppercase;
}
