
@model List<KoreaOnly.Controllers.IndexController.CommentForm>

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/AdminView.cshtml";
}




<div class="container">
    <br />
    <a href="/SystemMaster/" class="btn btn-default" value="Go To Main Control Station">Go To Main Control Station</a>

    <br />
    <br />
    <h2 style="float:left;">Contact US </h2>
    <br />

    <hr /> 
    <br />

    <table class="table">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Comment
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentFormFirst_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentFormEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentFormComments)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>